*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg , #3f8b70, #381b47 );
}

.container{
    width: 100%;
    min-height: 100vh;
    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #aea4ab;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app img{
    margin-left: 18px;
    width: 30px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eef1f6;
    border-radius: 30px;
    margin-bottom: 25px;

}
.row input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    padding: 10px 15px;
    width: 40vw;
   
}

.row button{
    font-size: 20px;
     border: none;
    outline: none;
    cursor: pointer;
    padding: 15px  40px;
    background: #a81859;
    color: #fff;
    border-radius: 40px;



}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    /* display: none; */
}

ul li::before{
        content: "";
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url(unchecked.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        top: 12px;
        left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;

}

ul li.checked::before{
      background-image: url(checked.png);
}

ul li span{
    position: absolute;
   top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 35px;
    text-align: center;
    
}

ul li span:hover{
    background: #edeef0 ;
    border-radius:50% ;
}